* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}

h1,
body {
  margin: 0;
}

.form-container {
  width: 100vw;
  min-height: 100vh;

  padding: 1rem;

  &__title {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

.form-field {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: .3rem;
    font-size: 14px;
  }

  &__control {
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }
}

.button {
  padding: .3rem 1.5rem;
}

@media (min-width: 35rem) {
  .form-container {
    width: 25rem;
    min-height: min-content;

    border: 1px solid black;
  }
}
